<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel pAccounts add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ParentAccountCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ParentAccountCode}  r-vertical-field" 
	data-signal-error-for="ParentAccountCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ParentAccountCode" data-fieldname="ParentAccountCode" >

	<label class="r-edit-label control-label" for="{$labelfor_ParentAccountCode}">
		{BEGIN ParentAccountCode_label}{$label pAccounts ParentAccountCode }{END ParentAccountCode_label}
	</label>
	<div class="r-edit-field">
		{$ParentAccountCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ParentAccountCode">
		<div class="text-muted" >
		{$tooltip pAccounts ParentAccountCode }		</div>
	</div>
</div>


{END ParentAccountCode_fieldblock}
											
{BEGIN Code_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Code}  r-vertical-field" 
	data-signal-error-for="Code{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Code" data-fieldname="Code" >

	<label class="r-edit-label control-label" for="{$labelfor_Code}">
		{BEGIN Code_label}{$label pAccounts Code }{END Code_label}
	</label>
	<div class="r-edit-field">
		{$Code_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Code">
		<div class="text-muted" >
		{$tooltip pAccounts Code }		</div>
	</div>
</div>


{END Code_fieldblock}
											
{BEGIN VirtualCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VirtualCode}  r-vertical-field" 
	data-signal-error-for="VirtualCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="VirtualCode" data-fieldname="VirtualCode" >

	<label class="r-edit-label control-label" for="{$labelfor_VirtualCode}">
		{BEGIN VirtualCode_label}{$label pAccounts VirtualCode }{END VirtualCode_label}
	</label>
	<div class="r-edit-field">
		{$VirtualCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="VirtualCode">
		<div class="text-muted" >
		{$tooltip pAccounts VirtualCode }		</div>
	</div>
</div>


{END VirtualCode_fieldblock}
											
{BEGIN BUnit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BUnit}  r-vertical-field" 
	data-signal-error-for="BUnit{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="BUnit" data-fieldname="BUnit" >

	<label class="r-edit-label control-label" for="{$labelfor_BUnit}">
		{BEGIN BUnit_label}{$label pAccounts BUnit }{END BUnit_label}
	</label>
	<div class="r-edit-field">
		{$BUnit_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BUnit">
		<div class="text-muted" >
		{$tooltip pAccounts BUnit }		</div>
	</div>
</div>


{END BUnit_fieldblock}
											
{BEGIN OldCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_OldCode}  r-vertical-field" 
	data-signal-error-for="OldCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="OldCode" data-fieldname="OldCode" >

	<label class="r-edit-label control-label" for="{$labelfor_OldCode}">
		{BEGIN OldCode_label}{$label pAccounts OldCode }{END OldCode_label}
	</label>
	<div class="r-edit-field">
		{$OldCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="OldCode">
		<div class="text-muted" >
		{$tooltip pAccounts OldCode }		</div>
	</div>
</div>


{END OldCode_fieldblock}
											
{BEGIN CoaCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CoaCode}  r-vertical-field" 
	data-signal-error-for="CoaCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="CoaCode" data-fieldname="CoaCode" >

	<label class="r-edit-label control-label" for="{$labelfor_CoaCode}">
		{BEGIN CoaCode_label}{$label pAccounts CoaCode }{END CoaCode_label}
	</label>
	<div class="r-edit-field">
		{$CoaCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CoaCode">
		<div class="text-muted" >
		{$tooltip pAccounts CoaCode }		</div>
	</div>
</div>


{END CoaCode_fieldblock}
											
{BEGIN AccSubCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_AccSubCode}  r-vertical-field" 
	data-signal-error-for="AccSubCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="AccSubCode" data-fieldname="AccSubCode" >

	<label class="r-edit-label control-label" for="{$labelfor_AccSubCode}">
		{BEGIN AccSubCode_label}{$label pAccounts AccSubCode }{END AccSubCode_label}
	</label>
	<div class="r-edit-field">
		{$AccSubCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="AccSubCode">
		<div class="text-muted" >
		{$tooltip pAccounts AccSubCode }		</div>
	</div>
</div>


{END AccSubCode_fieldblock}
											
{BEGIN Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Name}  r-vertical-field" 
	data-signal-error-for="Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Name" data-fieldname="Name" >

	<label class="r-edit-label control-label" for="{$labelfor_Name}">
		{BEGIN Name_label}{$label pAccounts Name }{END Name_label}
	</label>
	<div class="r-edit-field">
		{$Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Name">
		<div class="text-muted" >
		{$tooltip pAccounts Name }		</div>
	</div>
</div>


{END Name_fieldblock}
											
{BEGIN AccType_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_AccType}  r-vertical-field" 
	data-signal-error-for="AccType{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="AccType" data-fieldname="AccType" >

	<label class="r-edit-label control-label" for="{$labelfor_AccType}">
		{BEGIN AccType_label}{$label pAccounts AccType }{END AccType_label}
	</label>
	<div class="r-edit-field">
		{$AccType_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="AccType">
		<div class="text-muted" >
		{$tooltip pAccounts AccType }		</div>
	</div>
</div>


{END AccType_fieldblock}
											
{BEGIN Remarks_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Remarks}  r-vertical-field" 
	data-signal-error-for="Remarks{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Remarks" data-fieldname="Remarks" >

	<label class="r-edit-label control-label" for="{$labelfor_Remarks}">
		{BEGIN Remarks_label}{$label pAccounts Remarks }{END Remarks_label}
	</label>
	<div class="r-edit-field">
		{$Remarks_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Remarks">
		<div class="text-muted" >
		{$tooltip pAccounts Remarks }		</div>
	</div>
</div>


{END Remarks_fieldblock}
											
{BEGIN UnitCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UnitCode}  r-vertical-field" 
	data-signal-error-for="UnitCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="UnitCode" data-fieldname="UnitCode" >

	<label class="r-edit-label control-label" for="{$labelfor_UnitCode}">
		{BEGIN UnitCode_label}{$label pAccounts UnitCode }{END UnitCode_label}
	</label>
	<div class="r-edit-field">
		{$UnitCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UnitCode">
		<div class="text-muted" >
		{$tooltip pAccounts UnitCode }		</div>
	</div>
</div>


{END UnitCode_fieldblock}
											
{BEGIN UserName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UserName}  r-vertical-field" 
	data-signal-error-for="UserName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="UserName" data-fieldname="UserName" >

	<label class="r-edit-label control-label" for="{$labelfor_UserName}">
		{BEGIN UserName_label}{$label pAccounts UserName }{END UserName_label}
	</label>
	<div class="r-edit-field">
		{$UserName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UserName">
		<div class="text-muted" >
		{$tooltip pAccounts UserName }		</div>
	</div>
</div>


{END UserName_fieldblock}
											
{BEGIN CreateDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CreateDate}  r-vertical-field" 
	data-signal-error-for="CreateDate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="CreateDate" data-fieldname="CreateDate" >

	<label class="r-edit-label control-label" for="{$labelfor_CreateDate}">
		{BEGIN CreateDate_label}{$label pAccounts CreateDate }{END CreateDate_label}
	</label>
	<div class="r-edit-field">
		{$CreateDate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CreateDate">
		<div class="text-muted" >
		{$tooltip pAccounts CreateDate }		</div>
	</div>
</div>


{END CreateDate_fieldblock}
											
{BEGIN CreateTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CreateTime}  r-vertical-field" 
	data-signal-error-for="CreateTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="CreateTime" data-fieldname="CreateTime" >

	<label class="r-edit-label control-label" for="{$labelfor_CreateTime}">
		{BEGIN CreateTime_label}{$label pAccounts CreateTime }{END CreateTime_label}
	</label>
	<div class="r-edit-field">
		{$CreateTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CreateTime">
		<div class="text-muted" >
		{$tooltip pAccounts CreateTime }		</div>
	</div>
</div>


{END CreateTime_fieldblock}
											
{BEGIN UpdateUser_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateUser}  r-vertical-field" 
	data-signal-error-for="UpdateUser{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="UpdateUser" data-fieldname="UpdateUser" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdateUser}">
		{BEGIN UpdateUser_label}{$label pAccounts UpdateUser }{END UpdateUser_label}
	</label>
	<div class="r-edit-field">
		{$UpdateUser_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdateUser">
		<div class="text-muted" >
		{$tooltip pAccounts UpdateUser }		</div>
	</div>
</div>


{END UpdateUser_fieldblock}
											
{BEGIN UpdateDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateDate}  r-vertical-field" 
	data-signal-error-for="UpdateDate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="UpdateDate" data-fieldname="UpdateDate" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdateDate}">
		{BEGIN UpdateDate_label}{$label pAccounts UpdateDate }{END UpdateDate_label}
	</label>
	<div class="r-edit-field">
		{$UpdateDate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdateDate">
		<div class="text-muted" >
		{$tooltip pAccounts UpdateDate }		</div>
	</div>
</div>


{END UpdateDate_fieldblock}
											
{BEGIN UpdateTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateTime}  r-vertical-field" 
	data-signal-error-for="UpdateTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="UpdateTime" data-fieldname="UpdateTime" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdateTime}">
		{BEGIN UpdateTime_label}{$label pAccounts UpdateTime }{END UpdateTime_label}
	</label>
	<div class="r-edit-field">
		{$UpdateTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdateTime">
		<div class="text-muted" >
		{$tooltip pAccounts UpdateTime }		</div>
	</div>
</div>


{END UpdateTime_fieldblock}
											
{BEGIN Block_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Block}  r-vertical-field" 
	data-signal-error-for="Block{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Block" data-fieldname="Block" >

	<label class="r-edit-label control-label" for="{$labelfor_Block}">
		{BEGIN Block_label}{$label pAccounts Block }{END Block_label}
	</label>
	<div class="r-edit-field">
		{$Block_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Block">
		<div class="text-muted" >
		{$tooltip pAccounts Block }		</div>
	</div>
</div>


{END Block_fieldblock}
											
{BEGIN GroupCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_GroupCode}  r-vertical-field" 
	data-signal-error-for="GroupCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="GroupCode" data-fieldname="GroupCode" >

	<label class="r-edit-label control-label" for="{$labelfor_GroupCode}">
		{BEGIN GroupCode_label}{$label pAccounts GroupCode }{END GroupCode_label}
	</label>
	<div class="r-edit-field">
		{$GroupCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="GroupCode">
		<div class="text-muted" >
		{$tooltip pAccounts GroupCode }		</div>
	</div>
</div>


{END GroupCode_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
