<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-edit" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel pProductItems edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN message_view_page_button}
		<a class="btn btn-sm btn-default" href="pproductitems_view.php?{$editlink}" {$view_page_button_attrs}>View</a>
{END message_view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN OldCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_OldCode}  r-vertical-field" 
	data-signal-error-for="OldCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="OldCode" data-fieldname="OldCode" >

	<label class="r-edit-label control-label" for="{$labelfor_OldCode}">
		{BEGIN OldCode_label}{$label pProductItems OldCode }{END OldCode_label}
	</label>
	<div class="r-edit-field">
		{$OldCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="OldCode">
		<div class="text-muted" >
		{$tooltip pProductItems OldCode }		</div>
	</div>
</div>


{END OldCode_fieldblock}
											
{BEGIN BarCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BarCode}  r-vertical-field" 
	data-signal-error-for="BarCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="BarCode" data-fieldname="BarCode" >

	<label class="r-edit-label control-label" for="{$labelfor_BarCode}">
		{BEGIN BarCode_label}{$label pProductItems BarCode }{END BarCode_label}
	</label>
	<div class="r-edit-field">
		{$BarCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BarCode">
		<div class="text-muted" >
		{$tooltip pProductItems BarCode }		</div>
	</div>
</div>


{END BarCode_fieldblock}
											
{BEGIN ProductGroupCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ProductGroupCode}  r-vertical-field" 
	data-signal-error-for="ProductGroupCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="ProductGroupCode" data-fieldname="ProductGroupCode" >

	<label class="r-edit-label control-label" for="{$labelfor_ProductGroupCode}">
		{BEGIN ProductGroupCode_label}{$label pProductItems ProductGroupCode }{END ProductGroupCode_label}
	</label>
	<div class="r-edit-field">
		{$ProductGroupCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ProductGroupCode">
		<div class="text-muted" >
		{$tooltip pProductItems ProductGroupCode }		</div>
	</div>
</div>


{END ProductGroupCode_fieldblock}
											
{BEGIN UnitCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UnitCode}  r-vertical-field" 
	data-signal-error-for="UnitCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="UnitCode" data-fieldname="UnitCode" >

	<label class="r-edit-label control-label" for="{$labelfor_UnitCode}">
		{BEGIN UnitCode_label}{$label pProductItems UnitCode }{END UnitCode_label}
	</label>
	<div class="r-edit-field">
		{$UnitCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UnitCode">
		<div class="text-muted" >
		{$tooltip pProductItems UnitCode }		</div>
	</div>
</div>


{END UnitCode_fieldblock}
											
{BEGIN Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Name}  r-vertical-field" 
	data-signal-error-for="Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Name" data-fieldname="Name" >

	<label class="r-edit-label control-label" for="{$labelfor_Name}">
		{BEGIN Name_label}{$label pProductItems Name }{END Name_label}
	</label>
	<div class="r-edit-field">
		{$Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Name">
		<div class="text-muted" >
		{$tooltip pProductItems Name }		</div>
	</div>
</div>


{END Name_fieldblock}
											
{BEGIN Packing_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Packing}  r-vertical-field" 
	data-signal-error-for="Packing{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Packing" data-fieldname="Packing" >

	<label class="r-edit-label control-label" for="{$labelfor_Packing}">
		{BEGIN Packing_label}{$label pProductItems Packing }{END Packing_label}
	</label>
	<div class="r-edit-field">
		{$Packing_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Packing">
		<div class="text-muted" >
		{$tooltip pProductItems Packing }		</div>
	</div>
</div>


{END Packing_fieldblock}
											
{BEGIN PackingQty_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PackingQty}  r-vertical-field" 
	data-signal-error-for="PackingQty{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="PackingQty" data-fieldname="PackingQty" >

	<label class="r-edit-label control-label" for="{$labelfor_PackingQty}">
		{BEGIN PackingQty_label}{$label pProductItems PackingQty }{END PackingQty_label}
	</label>
	<div class="r-edit-field">
		{$PackingQty_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="PackingQty">
		<div class="text-muted" >
		{$tooltip pProductItems PackingQty }		</div>
	</div>
</div>


{END PackingQty_fieldblock}
											
{BEGIN Remarks_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Remarks}  r-vertical-field" 
	data-signal-error-for="Remarks{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Remarks" data-fieldname="Remarks" >

	<label class="r-edit-label control-label" for="{$labelfor_Remarks}">
		{BEGIN Remarks_label}{$label pProductItems Remarks }{END Remarks_label}
	</label>
	<div class="r-edit-field">
		{$Remarks_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Remarks">
		<div class="text-muted" >
		{$tooltip pProductItems Remarks }		</div>
	</div>
</div>


{END Remarks_fieldblock}
											
{BEGIN Block_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Block}  r-vertical-field" 
	data-signal-error-for="Block{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Block" data-fieldname="Block" >

	<label class="r-edit-label control-label" for="{$labelfor_Block}">
		{BEGIN Block_label}{$label pProductItems Block }{END Block_label}
	</label>
	<div class="r-edit-field">
		{$Block_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Block">
		<div class="text-muted" >
		{$tooltip pProductItems Block }		</div>
	</div>
</div>


{END Block_fieldblock}
											
{BEGIN BUnit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BUnit}  r-vertical-field" 
	data-signal-error-for="BUnit{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="BUnit" data-fieldname="BUnit" >

	<label class="r-edit-label control-label" for="{$labelfor_BUnit}">
		{BEGIN BUnit_label}{$label pProductItems BUnit }{END BUnit_label}
	</label>
	<div class="r-edit-field">
		{$BUnit_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BUnit">
		<div class="text-muted" >
		{$tooltip pProductItems BUnit }		</div>
	</div>
</div>


{END BUnit_fieldblock}
											
{BEGIN rate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_rate}  r-vertical-field" 
	data-signal-error-for="rate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="rate" data-fieldname="rate" >

	<label class="r-edit-label control-label" for="{$labelfor_rate}">
		{BEGIN rate_label}{$label pProductItems rate }{END rate_label}
	</label>
	<div class="r-edit-field">
		{$rate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="rate">
		<div class="text-muted" >
		{$tooltip pProductItems rate }		</div>
	</div>
</div>


{END rate_fieldblock}
											
{BEGIN product_image_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_product_image}  r-vertical-field" 
	data-signal-error-for="product_image{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="product_image" data-fieldname="product_image" >

	<label class="r-edit-label control-label" for="{$labelfor_product_image}">
		{BEGIN product_image_label}{$label pProductItems product_image }{END product_image_label}
	</label>
	<div class="r-edit-field">
		{$product_image_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="product_image">
		<div class="text-muted" >
		{$tooltip pProductItems product_image }		</div>
	</div>
</div>


{END product_image_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							Cancel			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		Reset		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  href="pproductitems_view.php?{$editlink}" {$view_page_button_attrs}  title="" >
				
		View		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
