<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel psAccountSubGroup add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN CofAccCode_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CofAccCode}  r-vertical-field" 
	data-signal-error-for="CofAccCode{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="CofAccCode" data-fieldname="CofAccCode" >

	<label class="r-edit-label control-label" for="{$labelfor_CofAccCode}">
		{BEGIN CofAccCode_label}{$label psAccountSubGroup CofAccCode }{END CofAccCode_label}
	</label>
	<div class="r-edit-field">
		{$CofAccCode_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CofAccCode">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup CofAccCode }		</div>
	</div>
</div>


{END CofAccCode_fieldblock}
											
{BEGIN Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Name}  r-vertical-field" 
	data-signal-error-for="Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Name" data-fieldname="Name" >

	<label class="r-edit-label control-label" for="{$labelfor_Name}">
		{BEGIN Name_label}{$label psAccountSubGroup Name }{END Name_label}
	</label>
	<div class="r-edit-field">
		{$Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Name">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup Name }		</div>
	</div>
</div>


{END Name_fieldblock}
											
{BEGIN Remarks_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Remarks}  r-vertical-field" 
	data-signal-error-for="Remarks{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Remarks" data-fieldname="Remarks" >

	<label class="r-edit-label control-label" for="{$labelfor_Remarks}">
		{BEGIN Remarks_label}{$label psAccountSubGroup Remarks }{END Remarks_label}
	</label>
	<div class="r-edit-field">
		{$Remarks_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Remarks">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup Remarks }		</div>
	</div>
</div>


{END Remarks_fieldblock}
											
{BEGIN NameInUrdu_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_NameInUrdu}  r-vertical-field" 
	data-signal-error-for="NameInUrdu{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="NameInUrdu" data-fieldname="NameInUrdu" >

	<label class="r-edit-label control-label" for="{$labelfor_NameInUrdu}">
		{BEGIN NameInUrdu_label}{$label psAccountSubGroup NameInUrdu }{END NameInUrdu_label}
	</label>
	<div class="r-edit-field">
		{$NameInUrdu_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="NameInUrdu">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup NameInUrdu }		</div>
	</div>
</div>


{END NameInUrdu_fieldblock}
											
{BEGIN RemarksInUrdu_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RemarksInUrdu}  r-vertical-field" 
	data-signal-error-for="RemarksInUrdu{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="RemarksInUrdu" data-fieldname="RemarksInUrdu" >

	<label class="r-edit-label control-label" for="{$labelfor_RemarksInUrdu}">
		{BEGIN RemarksInUrdu_label}{$label psAccountSubGroup RemarksInUrdu }{END RemarksInUrdu_label}
	</label>
	<div class="r-edit-field">
		{$RemarksInUrdu_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="RemarksInUrdu">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup RemarksInUrdu }		</div>
	</div>
</div>


{END RemarksInUrdu_fieldblock}
											
{BEGIN CreatePcName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CreatePcName}  r-vertical-field" 
	data-signal-error-for="CreatePcName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="CreatePcName" data-fieldname="CreatePcName" >

	<label class="r-edit-label control-label" for="{$labelfor_CreatePcName}">
		{BEGIN CreatePcName_label}{$label psAccountSubGroup CreatePcName }{END CreatePcName_label}
	</label>
	<div class="r-edit-field">
		{$CreatePcName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CreatePcName">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup CreatePcName }		</div>
	</div>
</div>


{END CreatePcName_fieldblock}
											
{BEGIN CreatePCUser_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CreatePCUser}  r-vertical-field" 
	data-signal-error-for="CreatePCUser{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="CreatePCUser" data-fieldname="CreatePCUser" >

	<label class="r-edit-label control-label" for="{$labelfor_CreatePCUser}">
		{BEGIN CreatePCUser_label}{$label psAccountSubGroup CreatePCUser }{END CreatePCUser_label}
	</label>
	<div class="r-edit-field">
		{$CreatePCUser_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CreatePCUser">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup CreatePCUser }		</div>
	</div>
</div>


{END CreatePCUser_fieldblock}
											
{BEGIN CreateLoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CreateLoc}  r-vertical-field" 
	data-signal-error-for="CreateLoc{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="CreateLoc" data-fieldname="CreateLoc" >

	<label class="r-edit-label control-label" for="{$labelfor_CreateLoc}">
		{BEGIN CreateLoc_label}{$label psAccountSubGroup CreateLoc }{END CreateLoc_label}
	</label>
	<div class="r-edit-field">
		{$CreateLoc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CreateLoc">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup CreateLoc }		</div>
	</div>
</div>


{END CreateLoc_fieldblock}
											
{BEGIN CreateDevice_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CreateDevice}  r-vertical-field" 
	data-signal-error-for="CreateDevice{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="CreateDevice" data-fieldname="CreateDevice" >

	<label class="r-edit-label control-label" for="{$labelfor_CreateDevice}">
		{BEGIN CreateDevice_label}{$label psAccountSubGroup CreateDevice }{END CreateDevice_label}
	</label>
	<div class="r-edit-field">
		{$CreateDevice_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="CreateDevice">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup CreateDevice }		</div>
	</div>
</div>


{END CreateDevice_fieldblock}
											
{BEGIN UpdatePcUser_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdatePcUser}  r-vertical-field" 
	data-signal-error-for="UpdatePcUser{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="UpdatePcUser" data-fieldname="UpdatePcUser" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdatePcUser}">
		{BEGIN UpdatePcUser_label}{$label psAccountSubGroup UpdatePcUser }{END UpdatePcUser_label}
	</label>
	<div class="r-edit-field">
		{$UpdatePcUser_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdatePcUser">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup UpdatePcUser }		</div>
	</div>
</div>


{END UpdatePcUser_fieldblock}
											
{BEGIN UpdatePcName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdatePcName}  r-vertical-field" 
	data-signal-error-for="UpdatePcName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="UpdatePcName" data-fieldname="UpdatePcName" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdatePcName}">
		{BEGIN UpdatePcName_label}{$label psAccountSubGroup UpdatePcName }{END UpdatePcName_label}
	</label>
	<div class="r-edit-field">
		{$UpdatePcName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdatePcName">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup UpdatePcName }		</div>
	</div>
</div>


{END UpdatePcName_fieldblock}
											
{BEGIN UpdateLoc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateLoc}  r-vertical-field" 
	data-signal-error-for="UpdateLoc{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="UpdateLoc" data-fieldname="UpdateLoc" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdateLoc}">
		{BEGIN UpdateLoc_label}{$label psAccountSubGroup UpdateLoc }{END UpdateLoc_label}
	</label>
	<div class="r-edit-field">
		{$UpdateLoc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdateLoc">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup UpdateLoc }		</div>
	</div>
</div>


{END UpdateLoc_fieldblock}
											
{BEGIN UpdateDevice_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateDevice}  r-vertical-field" 
	data-signal-error-for="UpdateDevice{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="UpdateDevice" data-fieldname="UpdateDevice" >

	<label class="r-edit-label control-label" for="{$labelfor_UpdateDevice}">
		{BEGIN UpdateDevice_label}{$label psAccountSubGroup UpdateDevice }{END UpdateDevice_label}
	</label>
	<div class="r-edit-field">
		{$UpdateDevice_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="UpdateDevice">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup UpdateDevice }		</div>
	</div>
</div>


{END UpdateDevice_fieldblock}
											
{BEGIN TotalUpdate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TotalUpdate}  r-vertical-field" 
	data-signal-error-for="TotalUpdate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="TotalUpdate" data-fieldname="TotalUpdate" >

	<label class="r-edit-label control-label" for="{$labelfor_TotalUpdate}">
		{BEGIN TotalUpdate_label}{$label psAccountSubGroup TotalUpdate }{END TotalUpdate_label}
	</label>
	<div class="r-edit-field">
		{$TotalUpdate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="TotalUpdate">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup TotalUpdate }		</div>
	</div>
</div>


{END TotalUpdate_fieldblock}
											
{BEGIN Block_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Block}  r-vertical-field" 
	data-signal-error-for="Block{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="Block" data-fieldname="Block" >

	<label class="r-edit-label control-label" for="{$labelfor_Block}">
		{BEGIN Block_label}{$label psAccountSubGroup Block }{END Block_label}
	</label>
	<div class="r-edit-field">
		{$Block_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Block">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup Block }		</div>
	</div>
</div>


{END Block_fieldblock}
											
{BEGIN Lock_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Lock}  r-vertical-field" 
	data-signal-error-for="Lock{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="Lock" data-fieldname="Lock" >

	<label class="r-edit-label control-label" for="{$labelfor_Lock}">
		{BEGIN Lock_label}{$label psAccountSubGroup Lock }{END Lock_label}
	</label>
	<div class="r-edit-field">
		{$Lock_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Lock">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup Lock }		</div>
	</div>
</div>


{END Lock_fieldblock}
											
{BEGIN Hide_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Hide}  r-vertical-field" 
	data-signal-error-for="Hide{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="Hide" data-fieldname="Hide" >

	<label class="r-edit-label control-label" for="{$labelfor_Hide}">
		{BEGIN Hide_label}{$label psAccountSubGroup Hide }{END Hide_label}
	</label>
	<div class="r-edit-field">
		{$Hide_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Hide">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup Hide }		</div>
	</div>
</div>


{END Hide_fieldblock}
											
{BEGIN Bookmark_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Bookmark}  r-vertical-field" 
	data-signal-error-for="Bookmark{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="Bookmark" data-fieldname="Bookmark" >

	<label class="r-edit-label control-label" for="{$labelfor_Bookmark}">
		{BEGIN Bookmark_label}{$label psAccountSubGroup Bookmark }{END Bookmark_label}
	</label>
	<div class="r-edit-field">
		{$Bookmark_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Bookmark">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup Bookmark }		</div>
	</div>
</div>


{END Bookmark_fieldblock}
											
{BEGIN BMStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BMStatus}  r-vertical-field" 
	data-signal-error-for="BMStatus{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="BMStatus" data-fieldname="BMStatus" >

	<label class="r-edit-label control-label" for="{$labelfor_BMStatus}">
		{BEGIN BMStatus_label}{$label psAccountSubGroup BMStatus }{END BMStatus_label}
	</label>
	<div class="r-edit-field">
		{$BMStatus_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BMStatus">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup BMStatus }		</div>
	</div>
</div>


{END BMStatus_fieldblock}
											
{BEGIN BMIConID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BMIConID}  r-vertical-field" 
	data-signal-error-for="BMIConID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="BMIConID" data-fieldname="BMIConID" >

	<label class="r-edit-label control-label" for="{$labelfor_BMIConID}">
		{BEGIN BMIConID_label}{$label psAccountSubGroup BMIConID }{END BMIConID_label}
	</label>
	<div class="r-edit-field">
		{$BMIConID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BMIConID">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup BMIConID }		</div>
	</div>
</div>


{END BMIConID_fieldblock}
											
{BEGIN BMRowID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BMRowID}  r-vertical-field" 
	data-signal-error-for="BMRowID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="BMRowID" data-fieldname="BMRowID" >

	<label class="r-edit-label control-label" for="{$labelfor_BMRowID}">
		{BEGIN BMRowID_label}{$label psAccountSubGroup BMRowID }{END BMRowID_label}
	</label>
	<div class="r-edit-field">
		{$BMRowID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BMRowID">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup BMRowID }		</div>
	</div>
</div>


{END BMRowID_fieldblock}
											
{BEGIN DBRowID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DBRowID}  r-vertical-field" 
	data-signal-error-for="DBRowID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="DBRowID" data-fieldname="DBRowID" >

	<label class="r-edit-label control-label" for="{$labelfor_DBRowID}">
		{BEGIN DBRowID_label}{$label psAccountSubGroup DBRowID }{END DBRowID_label}
	</label>
	<div class="r-edit-field">
		{$DBRowID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="DBRowID">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup DBRowID }		</div>
	</div>
</div>


{END DBRowID_fieldblock}
											
{BEGIN ECol1_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ECol1}  r-vertical-field" 
	data-signal-error-for="ECol1{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="ECol1" data-fieldname="ECol1" >

	<label class="r-edit-label control-label" for="{$labelfor_ECol1}">
		{BEGIN ECol1_label}{$label psAccountSubGroup ECol1 }{END ECol1_label}
	</label>
	<div class="r-edit-field">
		{$ECol1_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ECol1">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup ECol1 }		</div>
	</div>
</div>


{END ECol1_fieldblock}
											
{BEGIN ECol2_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ECol2}  r-vertical-field" 
	data-signal-error-for="ECol2{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="ECol2" data-fieldname="ECol2" >

	<label class="r-edit-label control-label" for="{$labelfor_ECol2}">
		{BEGIN ECol2_label}{$label psAccountSubGroup ECol2 }{END ECol2_label}
	</label>
	<div class="r-edit-field">
		{$ECol2_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ECol2">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup ECol2 }		</div>
	</div>
</div>


{END ECol2_fieldblock}
											
{BEGIN BUnit_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_BUnit}  r-vertical-field" 
	data-signal-error-for="BUnit{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="BUnit" data-fieldname="BUnit" >

	<label class="r-edit-label control-label" for="{$labelfor_BUnit}">
		{BEGIN BUnit_label}{$label psAccountSubGroup BUnit }{END BUnit_label}
	</label>
	<div class="r-edit-field">
		{$BUnit_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="BUnit">
		<div class="text-muted" >
		{$tooltip psAccountSubGroup BUnit }		</div>
	</div>
</div>


{END BUnit_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
