<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel psUnits search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ID}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="ID" data-fieldname="ID" >


	<label class="r-search-label control-label" for="{$labelfor_ID}">
		{$label psUnits ID }	</label>
	<div class="r-search-option">
		{$searchtype_ID}
	</div>
	<div class="r-search-field">
		{$ID_editcontrol}	</div>
	<div class="r-search-field">
		{$ID_editcontrol1}
	</div>
	
</div>

{END ID_fieldblock}
											
{BEGIN BUnit_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_BUnit}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="BUnit{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="BUnit" data-fieldname="BUnit" >


	<label class="r-search-label control-label" for="{$labelfor_BUnit}">
		{$label psUnits BUnit }	</label>
	<div class="r-search-option">
		{$searchtype_BUnit}
	</div>
	<div class="r-search-field">
		{$BUnit_editcontrol}	</div>
	<div class="r-search-field">
		{$BUnit_editcontrol1}
	</div>
	
</div>

{END BUnit_fieldblock}
											
{BEGIN Name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="Name" data-fieldname="Name" >


	<label class="r-search-label control-label" for="{$labelfor_Name}">
		{$label psUnits Name }	</label>
	<div class="r-search-option">
		{$searchtype_Name}
	</div>
	<div class="r-search-field">
		{$Name_editcontrol}	</div>
	<div class="r-search-field">
		{$Name_editcontrol1}
	</div>
	
</div>

{END Name_fieldblock}
											
{BEGIN Remarks_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Remarks}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Remarks{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="Remarks" data-fieldname="Remarks" >


	<label class="r-search-label control-label" for="{$labelfor_Remarks}">
		{$label psUnits Remarks }	</label>
	<div class="r-search-option">
		{$searchtype_Remarks}
	</div>
	<div class="r-search-field">
		{$Remarks_editcontrol}	</div>
	<div class="r-search-field">
		{$Remarks_editcontrol1}
	</div>
	
</div>

{END Remarks_fieldblock}
											
{BEGIN UserName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UserName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UserName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="UserName" data-fieldname="UserName" >


	<label class="r-search-label control-label" for="{$labelfor_UserName}">
		{$label psUnits UserName }	</label>
	<div class="r-search-option">
		{$searchtype_UserName}
	</div>
	<div class="r-search-field">
		{$UserName_editcontrol}	</div>
	<div class="r-search-field">
		{$UserName_editcontrol1}
	</div>
	
</div>

{END UserName_fieldblock}
											
{BEGIN CreateDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CreateDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CreateDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="CreateDate" data-fieldname="CreateDate" >


	<label class="r-search-label control-label" for="{$labelfor_CreateDate}">
		{$label psUnits CreateDate }	</label>
	<div class="r-search-option">
		{$searchtype_CreateDate}
	</div>
	<div class="r-search-field">
		{$CreateDate_editcontrol}	</div>
	<div class="r-search-field">
		{$CreateDate_editcontrol1}
	</div>
	
</div>

{END CreateDate_fieldblock}
											
{BEGIN CreateTime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CreateTime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="CreateTime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="CreateTime" data-fieldname="CreateTime" >


	<label class="r-search-label control-label" for="{$labelfor_CreateTime}">
		{$label psUnits CreateTime }	</label>
	<div class="r-search-option">
		{$searchtype_CreateTime}
	</div>
	<div class="r-search-field">
		{$CreateTime_editcontrol}	</div>
	<div class="r-search-field">
		{$CreateTime_editcontrol1}
	</div>
	
</div>

{END CreateTime_fieldblock}
											
{BEGIN UpdateUser_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateUser}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UpdateUser{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="UpdateUser" data-fieldname="UpdateUser" >


	<label class="r-search-label control-label" for="{$labelfor_UpdateUser}">
		{$label psUnits UpdateUser }	</label>
	<div class="r-search-option">
		{$searchtype_UpdateUser}
	</div>
	<div class="r-search-field">
		{$UpdateUser_editcontrol}	</div>
	<div class="r-search-field">
		{$UpdateUser_editcontrol1}
	</div>
	
</div>

{END UpdateUser_fieldblock}
											
{BEGIN UpdateDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UpdateDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="UpdateDate" data-fieldname="UpdateDate" >


	<label class="r-search-label control-label" for="{$labelfor_UpdateDate}">
		{$label psUnits UpdateDate }	</label>
	<div class="r-search-option">
		{$searchtype_UpdateDate}
	</div>
	<div class="r-search-field">
		{$UpdateDate_editcontrol}	</div>
	<div class="r-search-field">
		{$UpdateDate_editcontrol1}
	</div>
	
</div>

{END UpdateDate_fieldblock}
											
{BEGIN UpdateTime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UpdateTime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="UpdateTime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="UpdateTime" data-fieldname="UpdateTime" >


	<label class="r-search-label control-label" for="{$labelfor_UpdateTime}">
		{$label psUnits UpdateTime }	</label>
	<div class="r-search-option">
		{$searchtype_UpdateTime}
	</div>
	<div class="r-search-field">
		{$UpdateTime_editcontrol}	</div>
	<div class="r-search-field">
		{$UpdateTime_editcontrol1}
	</div>
	
</div>

{END UpdateTime_fieldblock}
											
{BEGIN Block_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_Block}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="Block{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="Block" data-fieldname="Block" >


	<label class="r-search-label control-label" for="{$labelfor_Block}">
		{$label psUnits Block }	</label>
	<div class="r-search-option">
		{$searchtype_Block}
	</div>
	<div class="r-search-field">
		{$Block_editcontrol}	</div>
	<div class="r-search-field">
		{$Block_editcontrol1}
	</div>
	
</div>

{END Block_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
