<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-print" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel sClosingMonth print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes} r-horizontal-grid  rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Code_class}
			"

			data-field="Code"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Code_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Code" data-fieldname="Code">
	{$label sClosingMonth Code }	</span>
{END Code_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$VMonth_class}
			"

			data-field="VMonth"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VMonth_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VMonth" data-fieldname="VMonth">
	{$label sClosingMonth VMonth }	</span>
{END VMonth_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$VYear_class}
			"

			data-field="VYear"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VYear_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VYear" data-fieldname="VYear">
	{$label sClosingMonth VYear }	</span>
{END VYear_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$CloseStatus_class}
			"

			data-field="CloseStatus"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CloseStatus_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CloseStatus" data-fieldname="CloseStatus">
	{$label sClosingMonth CloseStatus }	</span>
{END CloseStatus_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$DefaultMonth_class}
			"

			data-field="DefaultMonth"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DefaultMonth_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DefaultMonth" data-fieldname="DefaultMonth">
	{$label sClosingMonth DefaultMonth }	</span>
{END DefaultMonth_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$BuCode_class}
			"

			data-field="BuCode"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN BuCode_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="BuCode" data-fieldname="BuCode">
	{$label sClosingMonth BuCode }	</span>
{END BuCode_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$UserName_class}
			"

			data-field="UserName"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UserName_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UserName" data-fieldname="UserName">
	{$label sClosingMonth UserName }	</span>
{END UserName_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateDate_class}
			"

			data-field="CreateDate"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateDate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateDate" data-fieldname="CreateDate">
	{$label sClosingMonth CreateDate }	</span>
{END CreateDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateTime_class}
			"

			data-field="CreateTime"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateTime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateTime" data-fieldname="CreateTime">
	{$label sClosingMonth CreateTime }	</span>
{END CreateTime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreatePcName_class}
			"

			data-field="CreatePcName"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreatePcName_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreatePcName" data-fieldname="CreatePcName">
	{$label sClosingMonth CreatePcName }	</span>
{END CreatePcName_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreatePCUser_class}
			"

			data-field="CreatePCUser"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreatePCUser_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreatePCUser" data-fieldname="CreatePCUser">
	{$label sClosingMonth CreatePCUser }	</span>
{END CreatePCUser_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateLoc_class}
			"

			data-field="CreateLoc"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateLoc_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateLoc" data-fieldname="CreateLoc">
	{$label sClosingMonth CreateLoc }	</span>
{END CreateLoc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
				 
					{BEGIN cellblock_grid_headcell_field12}
	<th
	
	{$cell_grid_headcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateDevice_class}
			"

			data-field="CreateDevice"
	
	data-cellId="grid_headcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateDevice_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateDevice" data-fieldname="CreateDevice">
	{$label sClosingMonth CreateDevice }	</span>
{END CreateDevice_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field12}
				 
					{BEGIN cellblock_grid_headcell_field13}
	<th
	
	{$cell_grid_headcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdatePcUser_class}
			"

			data-field="UpdatePcUser"
	
	data-cellId="grid_headcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdatePcUser_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdatePcUser" data-fieldname="UpdatePcUser">
	{$label sClosingMonth UpdatePcUser }	</span>
{END UpdatePcUser_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field13}
				 
					{BEGIN cellblock_grid_headcell_field14}
	<th
	
	{$cell_grid_headcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateUser_class}
			"

			data-field="UpdateUser"
	
	data-cellId="grid_headcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateUser_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateUser" data-fieldname="UpdateUser">
	{$label sClosingMonth UpdateUser }	</span>
{END UpdateUser_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field14}
				 
					{BEGIN cellblock_grid_headcell_field15}
	<th
	
	{$cell_grid_headcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateDate_class}
			"

			data-field="UpdateDate"
	
	data-cellId="grid_headcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateDate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateDate" data-fieldname="UpdateDate">
	{$label sClosingMonth UpdateDate }	</span>
{END UpdateDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field15}
				 
					{BEGIN cellblock_grid_headcell_field16}
	<th
	
	{$cell_grid_headcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateTime_class}
			"

			data-field="UpdateTime"
	
	data-cellId="grid_headcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateTime_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateTime" data-fieldname="UpdateTime">
	{$label sClosingMonth UpdateTime }	</span>
{END UpdateTime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field16}
				 
					{BEGIN cellblock_grid_headcell_field17}
	<th
	
	{$cell_grid_headcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdatePcName_class}
			"

			data-field="UpdatePcName"
	
	data-cellId="grid_headcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdatePcName_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdatePcName" data-fieldname="UpdatePcName">
	{$label sClosingMonth UpdatePcName }	</span>
{END UpdatePcName_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field17}
				 
					{BEGIN cellblock_grid_headcell_field18}
	<th
	
	{$cell_grid_headcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$TotalUpdate_class}
			"

			data-field="TotalUpdate"
	
	data-cellId="grid_headcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TotalUpdate_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TotalUpdate" data-fieldname="TotalUpdate">
	{$label sClosingMonth TotalUpdate }	</span>
{END TotalUpdate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field18}
				 
					{BEGIN cellblock_grid_headcell_field19}
	<th
	
	{$cell_grid_headcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateLoc_class}
			"

			data-field="UpdateLoc"
	
	data-cellId="grid_headcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateLoc_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateLoc" data-fieldname="UpdateLoc">
	{$label sClosingMonth UpdateLoc }	</span>
{END UpdateLoc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field19}
				 
					{BEGIN cellblock_grid_headcell_field20}
	<th
	
	{$cell_grid_headcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateDevice_class}
			"

			data-field="UpdateDevice"
	
	data-cellId="grid_headcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateDevice_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateDevice" data-fieldname="UpdateDevice">
	{$label sClosingMonth UpdateDevice }	</span>
{END UpdateDevice_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field20}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															{BEGIN grid_row}
					<tbody>
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Code_class}
			"

			data-field="Code"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Code_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Code" data-fieldname="Code" data-default-width >
{$Code_value}
</span>
{END Code_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$VMonth_class}
			"

			data-field="VMonth"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VMonth_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VMonth" data-fieldname="VMonth" data-default-width >
{$VMonth_value}
</span>
{END VMonth_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$VYear_class}
			"

			data-field="VYear"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN VYear_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="VYear" data-fieldname="VYear" data-default-width >
{$VYear_value}
</span>
{END VYear_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$CloseStatus_class}
			"

			data-field="CloseStatus"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CloseStatus_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CloseStatus" data-fieldname="CloseStatus" data-default-width >
{$CloseStatus_value}
</span>
{END CloseStatus_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$DefaultMonth_class}
			"

			data-field="DefaultMonth"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DefaultMonth_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DefaultMonth" data-fieldname="DefaultMonth" data-default-width >
{$DefaultMonth_value}
</span>
{END DefaultMonth_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$BuCode_class}
			"

			data-field="BuCode"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN BuCode_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="BuCode" data-fieldname="BuCode" data-default-width >
{$BuCode_value}
</span>
{END BuCode_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$UserName_class}
			"

			data-field="UserName"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UserName_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UserName" data-fieldname="UserName" data-default-width >
{$UserName_value}
</span>
{END UserName_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateDate_class}
			"

			data-field="CreateDate"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateDate" data-fieldname="CreateDate" data-default-width >
{$CreateDate_value}
</span>
{END CreateDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateTime_class}
			"

			data-field="CreateTime"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateTime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateTime" data-fieldname="CreateTime" data-default-width >
{$CreateTime_value}
</span>
{END CreateTime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreatePcName_class}
			"

			data-field="CreatePcName"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreatePcName_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreatePcName" data-fieldname="CreatePcName" data-default-width >
{$CreatePcName_value}
</span>
{END CreatePcName_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreatePCUser_class}
			"

			data-field="CreatePCUser"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreatePCUser_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreatePCUser" data-fieldname="CreatePCUser" data-default-width >
{$CreatePCUser_value}
</span>
{END CreatePCUser_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateLoc_class}
			"

			data-field="CreateLoc"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateLoc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateLoc" data-fieldname="CreateLoc" data-default-width >
{$CreateLoc_value}
</span>
{END CreateLoc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
				 
					{BEGIN cellblock_grid_cell_field12}
	<td
	
	{$cell_grid_cell_field12}
	{$recordattrs}
	class="
		 r-ori-vert				{$CreateDevice_class}
			"

			data-field="CreateDevice"
	
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN CreateDevice_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CreateDevice" data-fieldname="CreateDevice" data-default-width >
{$CreateDevice_value}
</span>
{END CreateDevice_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field12}
				 
					{BEGIN cellblock_grid_cell_field13}
	<td
	
	{$cell_grid_cell_field13}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdatePcUser_class}
			"

			data-field="UpdatePcUser"
	
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdatePcUser_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdatePcUser" data-fieldname="UpdatePcUser" data-default-width >
{$UpdatePcUser_value}
</span>
{END UpdatePcUser_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field13}
				 
					{BEGIN cellblock_grid_cell_field14}
	<td
	
	{$cell_grid_cell_field14}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateUser_class}
			"

			data-field="UpdateUser"
	
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateUser_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateUser" data-fieldname="UpdateUser" data-default-width >
{$UpdateUser_value}
</span>
{END UpdateUser_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field14}
				 
					{BEGIN cellblock_grid_cell_field15}
	<td
	
	{$cell_grid_cell_field15}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateDate_class}
			"

			data-field="UpdateDate"
	
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateDate" data-fieldname="UpdateDate" data-default-width >
{$UpdateDate_value}
</span>
{END UpdateDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field15}
				 
					{BEGIN cellblock_grid_cell_field16}
	<td
	
	{$cell_grid_cell_field16}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateTime_class}
			"

			data-field="UpdateTime"
	
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateTime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateTime" data-fieldname="UpdateTime" data-default-width >
{$UpdateTime_value}
</span>
{END UpdateTime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field16}
				 
					{BEGIN cellblock_grid_cell_field17}
	<td
	
	{$cell_grid_cell_field17}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdatePcName_class}
			"

			data-field="UpdatePcName"
	
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdatePcName_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdatePcName" data-fieldname="UpdatePcName" data-default-width >
{$UpdatePcName_value}
</span>
{END UpdatePcName_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field17}
				 
					{BEGIN cellblock_grid_cell_field18}
	<td
	
	{$cell_grid_cell_field18}
	{$recordattrs}
	class="
		 r-ori-vert				{$TotalUpdate_class}
			"

			data-field="TotalUpdate"
	
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN TotalUpdate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TotalUpdate" data-fieldname="TotalUpdate" data-default-width >
{$TotalUpdate_value}
</span>
{END TotalUpdate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field18}
				 
					{BEGIN cellblock_grid_cell_field19}
	<td
	
	{$cell_grid_cell_field19}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateLoc_class}
			"

			data-field="UpdateLoc"
	
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateLoc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateLoc" data-fieldname="UpdateLoc" data-default-width >
{$UpdateLoc_value}
</span>
{END UpdateLoc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field19}
				 
					{BEGIN cellblock_grid_cell_field20}
	<td
	
	{$cell_grid_cell_field20}
	{$recordattrs}
	class="
		 r-ori-vert				{$UpdateDevice_class}
			"

			data-field="UpdateDevice"
	
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN UpdateDevice_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="UpdateDevice" data-fieldname="UpdateDevice" data-default-width >
{$UpdateDevice_value}
</span>
{END UpdateDevice_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field20}
							</tr>
					 
					
											</tbody>
					{END grid_row}
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
				 
					{BEGIN cellblock_grid_footcell_field12}
	<td
	
	{$cell_grid_footcell_field12}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field12}
				 
					{BEGIN cellblock_grid_footcell_field13}
	<td
	
	{$cell_grid_footcell_field13}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field13}
				 
					{BEGIN cellblock_grid_footcell_field14}
	<td
	
	{$cell_grid_footcell_field14}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field14}
				 
					{BEGIN cellblock_grid_footcell_field15}
	<td
	
	{$cell_grid_footcell_field15}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field15}
				 
					{BEGIN cellblock_grid_footcell_field16}
	<td
	
	{$cell_grid_footcell_field16}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field16}
				 
					{BEGIN cellblock_grid_footcell_field17}
	<td
	
	{$cell_grid_footcell_field17}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field17}
				 
					{BEGIN cellblock_grid_footcell_field18}
	<td
	
	{$cell_grid_footcell_field18}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field18}
				 
					{BEGIN cellblock_grid_footcell_field19}
	<td
	
	{$cell_grid_footcell_field19}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field19}
				 
					{BEGIN cellblock_grid_footcell_field20}
	<td
	
	{$cell_grid_footcell_field20}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="sclosingmonth_print"	
	>

	
	</td>
	{END cellblock_grid_footcell_field20}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
